<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../img/favicon.ico">
        <title>detail - Documentazione</title>
        <link href="../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../css/font-awesome-4.5.0.css" rel="stylesheet">
        <link href="../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/highlight.css">
        <link href="../extra.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="../js/jquery-1.10.2.min.js"></script>
        <script src="../js/bootstrap-3.0.3.min.js"></script>
        <script src="../js/highlight.pack.js"></script> 
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="..">Documentazione</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                    <li >
                        <a href="..">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pagine <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
<li >
    <a href="../dettaglio/">Dettaglio (_table)</a>
</li>
                            
<li >
    <a href="../cercapg/">Cerca</a>
</li>
                            
<li >
    <a href="../docimg/">Documenti e immagini</a>
</li>
                            
<li >
    <a href="../dramma/">Il Dramma</a>
</li>
                            
<li >
    <a href="../persone/">Persone</a>
</li>
                            
<li >
    <a href="../spettacoli/">Spettacoli</a>
</li>
                            
<li >
    <a href="../stagioni/">Stagioni</a>
</li>
                            
<li >
    <a href="../teatrico/">Teatri e compagnie</a>
</li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Componenti <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
<li >
    <a href="../browse/">browse</a>
</li>
                            
<li >
    <a href="../cerca/">cerca</a>
</li>
                            
<li class="active">
    <a href="./">detail</a>
</li>
                            
<li >
    <a href="../footer/">footer</a>
</li>
                            
<li >
    <a href="../gallery/">gallery</a>
</li>
                            
<li >
    <a href="../header/">header</a>
</li>
                            
<li >
    <a href="../item-view/">item-view</a>
</li>
                            
<li >
    <a href="../menupanel/">menupanel</a>
</li>
                            
<li >
    <a href="../pagecontainer/">pagecontainer</a>
</li>
                            
<li >
    <a href="../preview/">preview</a>
</li>
                            
<li >
    <a href="../scrolltotop/">scrolltotop</a>
</li>
                            
<li >
    <a href="../searchpanel/">searchpanel</a>
</li>
                            
<li >
    <a href="../sticky/">sticky</a>
</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sotto componenti <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
  <li class="dropdown-submenu">
    <a href="#">browse</a>
    <ul class="dropdown-menu">
            
<li >
    <a href="../box/">box</a>
</li>
            
<li >
    <a href="../browsebar/">browsebar</a>
</li>
            
<li >
    <a href="../browsefilter/">browsefilter</a>
</li>
            
<li >
    <a href="../list/">list</a>
</li>
    </ul>
  </li>
                            
  <li class="dropdown-submenu">
    <a href="#">cerca</a>
    <ul class="dropdown-menu">
            
<li >
    <a href="../filterbar/">filterbar</a>
</li>
            
<li >
    <a href="../filterbarbib/">filterbarbiblioteca</a>
</li>
            
<li >
    <a href="../result/">result</a>
</li>
            
<li >
    <a href="../searchbar/">searchbar</a>
</li>
    </ul>
  </li>
                            
  <li class="dropdown-submenu">
    <a href="#">detail</a>
    <ul class="dropdown-menu">
            
  <li class="dropdown-submenu">
    <a href="#">metadati</a>
    <ul class="dropdown-menu">
            
<li >
    <a href="../metadati/">metadati</a>
</li>
            
<li >
    <a href="../metadataService/">metadataService</a>
</li>
            
<li >
    <a href="../metadatilist/">metadatilist</a>
</li>
    </ul>
  </li>
            
<li >
    <a href="../related/">related</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#">spettacoli-view</a>
    <ul class="dropdown-menu">
            
<li >
    <a href="../spettacoliview/">spettacoli-view</a>
</li>
            
<li >
    <a href="../locandina/">locandina</a>
</li>
    </ul>
  </li>
    </ul>
  </li>
                            
  <li class="dropdown-submenu">
    <a href="#">item-view</a>
    <ul class="dropdown-menu">
            
<li >
    <a href="../cardview/">card-view</a>
</li>
            
<li >
    <a href="../listview/">list-view</a>
</li>
    </ul>
  </li>
                        </ul>
                    </li>
                </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                    <li >
                        <a rel="next" href="../cerca/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../footer/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
</div>

        <div class="container">
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
        <li class="main active"><a href="#detail">Detail</a></li>
            <li><a href="#descrizione-generale">Descrizione generale</a></li>
            <li><a href="#comportamenti-specifici">Comportamenti specifici</a></li>
            <li><a href="#il-metodo-imageslist">Il metodo imagesList():</a></li>
        <li class="main "><a href="#il-metodo-doclist">Il metodo docList():</a></li>
        <li class="main "><a href="#il-metodo-relsplitted">Il metodo relSplitted():</a></li>
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="detail">Detail</h1>
<hr>

<h2 id="descrizione-generale">Descrizione generale</h2>
<p>Il componente “<strong>detail</strong>” contiene al suo interno altri componenti: <a href="../metadati/">metadati</a>, <a href="../related/">related</a> e <a href="../spettacoliview/">spettacoli-view</a>, che contiene al suo interno il componente <a href="../locandina/">locandina</a>.<br />
È la pagina in cui si viene reindirizzati quando si seleziona un elemento della pagina <a href="../cercapg/">Cerca</a> o dalle altre pagine del menù.<br />
Esso mostra il nome dell’elemento, una gallery di immagini, una sua descrizione (<a href="../metadati/">metadati</a>) e gli elementi ad esso collegati (<a href="../related/">related</a>).<br />
Se si apre un elemento degli spettacoli, viene visualizzata la pagina dell’elemento con una descrizione (<a href="../metadati/">metadati</a>), e gli elementi correlati sotto forma di <em>card</em> e a lato un immagine della locandina dello spettacolo (<a href="../spettacoliview/">spettacoli-view</a>/<a href="../locandina/">locandina</a>) con sotto un elenco degli elementi correlati (<a href="../related/">related</a>).  </p>
<h2 id="comportamenti-specifici">Comportamenti specifici</h2>
<p>Importa i componenti: <a href="../related/">related</a>, <a href="../gallery/">gallery</a> e <a href="../metadati/">metadati</a>.  </p>
<pre><code class="java">import AuiRelated from './related/related.vue'
import AuiGallery from './../gallery/gallery.vue'
import AuiMetadati from './metadati/metadati.vue'
</code></pre>

<h2 id="_1"></h2>
<h3 id="il-metodo-imageslist">Il metodo <code>imagesList()</code>:</h3>
<pre><code class="java">imagesList () {
    return _.chain(this.item.representations)
    .filter(e =&gt;  e.mimetype === 'image/jpeg')
    .map(e =&gt; {
        return {
            'url': e.url,
            'title': e.title
        }
    })
    .value()
},
</code></pre>

<div id="elenco">
1.  richiamando la funzione <code>_.chain(this.item.representations)</code> [...] <code>.value()</code> verranno restituiti tutti gli elementi solo se saranno in formato .jpeg e che quindi saranno delle immagini (<code>e.mimetype === ‘image/jpeg’</code>).  
</div>

<div id="elenco">
2. richiamando la funzione <code>.map</code>, a tutti gli elementi della lista di immagini, verranno riportati il corrispondente URL e il titolo.
</div>

<h2 id="_2"></h2>
<h3 id="il-metodo-doclist">Il metodo <code>docList()</code>:</h3>
<p>richiamando la funzione <code>_.chain(this.item.representations)</code> [...] <code>.value()</code>, restituirà tutti gli elementi che saranno in un formato diverso da <em>.jpeg</em>  e che quindi saranno dei documenti (<code>e.mimetype !== ‘image/jpeg’</code>).  </p>
<pre><code class="java">docList() {
    return _.chain(this.item.representations)
    .filter(e =&gt; e.mimetype !== 'image/jpeg')
    .value()
},
</code></pre>

<h2 id="_3"></h2>
<h3 id="il-metodo-relsplitted">Il metodo <code>relSplitted()</code>:</h3>
<div id="elenco">
1. riprende le proprietà dell’elemento e divide le entità (<code>items</code>) dalle relazioni (<code>relateds</code>), permettendo di modificare separatamente gli elementi senza che vi siano modifiche anche nelle loro relazioni.
</div>

<pre><code class="java">relSplitted () {
    return util.splitRelation(this.relateds)
}
</code></pre>

<pre><code class="java">props: [
    'item',
    'relateds'
],
</code></pre>

<div id="elenco">
2. richiamando <code><i>service/util.js</i></code> le entità vengono ordinate secondo una specifica disposizione predisposta.
</div>

<pre><code class="java">service.splitRelation = (relations) =&gt; {
    let splittedRelations = {}
    let orderEntities =['Autore', 'Autore_secondario', 'Regia', 'Scene', 'Costumi', 'Musiche', 'Interprete', 'Luoghi']
}
</code></pre>

<div id="elenco">
3. attraverso il codice <i>.html</i> mostra le relazioni divise come oggetti (<code>relSplitted.objects</code>) verranno mostrate come delle card con immagini; quelle divise come entità (<code>relSplitted.entities</code>) verranno mostrate come un elenco che seguirà l’ordine imposto dal file <i>util.js</i>.
</div>

<pre><code class="html">&lt;aui-related v-if=&quot;relSplitted.objects&quot; :relateds=&quot;relSplitted.objects&quot; :view=&quot;'images'&quot;&gt;&lt;/aui-related&gt;
&lt;aui-related v-if=&quot;relSplitted.entities&quot; :relateds=&quot;relSplitted.entities&quot;&gt;&lt;/aui-related&gt;
</code></pre></div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>var base_url = '..';</script>
        <script src="../js/base.js"></script>
        <script src="../search/require.js"></script>
        <script src="../search/search.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Search</h4>
            </div>
            <div class="modal-body">
                <p>
                    From here you can search these documents. Enter
                    your search terms below.
                </p>
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                    </div>
                </form>
                <div id="mkdocs-search-results"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="Keyboard Shortcuts Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Keyboard Shortcuts</h4>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td><kbd>&larr;</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td><kbd>&rarr;</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


    </body>
</html>
